body {
    font-family: Arial, sans-serif;
    background-color: #07B0F2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.coming-soon-container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.5rem;
}
