{% load static %}
<header>
  <nav class="navbar">
    <div class="navbar-container">
      <div class="logo">
        <a href="#hero">
            <img src="{% static 'img/logo.png' %}" alt="Luminous Cleaners" height="50">
        </a>
      </div>

      <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
